# Sales Prediction Model

In [70]:
#Importing the libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [71]:
#Importing the dataset
data = pd.read_csv("/content/Sales.csv")
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [72]:
# # #Initiating the variables
X = data.drop(['Purchased'], axis = 1)
y = data['Purchased'].values.reshape(-1,1)

In [79]:
#Splitting data into training, testing datase
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [80]:
#Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)
#X_test

In [81]:
#Training our model using logistic regression
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression()
classifier.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [ ]:
#Testing our model

In [82]:
y_pred = classifier.predict(X_test)

#Making the Confusion Matrix

In [83]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[50  2]
 [ 9 19]]

0.8625

In [85]:
#Prediction for new values
output= classifier.predict([[30, 87000]])
output

array([1])